
.tomato {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../../../../public/icons/tomato-empty.png') no-repeat;
  cursor: pointer;
}

.filled {
  background: url('../../../../public/icons/tomato-filled.png') no-repeat;
}
