#timerContent {
  display: block;
  position:absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

.timeLeft {
  font-size: 4rem;
}

.message {
  font-size: 2rem;
}

#controllerBtn {
  display: block;
  width: 100%;
  position:absolute;
  top: 65%;
  text-align: center;
  font-size: 4rem;
}


