#timer {
  display: block;
  position:absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 4rem;
}

#controllerBtn {
  display: block;
  width: 100%;
  position:absolute;
  top: 65%;
  text-align: center;
  font-size: 4rem;
}

#timeOutMessage {
 font-size: 2rem;
}


