$pomodoroColor: #c63535;
$breakColor: #56aa56;

#timeLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.segment {
  position: relative;
  display: inline-block;
  height: 10px;
  border-width: 1px;
  border-style: solid;
}

.segmentPomodoro {
  border-color: $pomodoroColor;
}

.segmentBreak {
  border-color: $breakColor;
}

.segment > .segmentInner {
  position: absolute;
  display: inline-block;
  height: 100%;
}

.segment.segmentPomodoro .segmentInner {
  background-color: $pomodoroColor;
}

.segment.segmentBreak .segmentInner {
  background-color: $breakColor;
}

.segmentDescription {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.segmentArrow {
  position: absolute;
  bottom: 2px;
  z-index: 2;
}

.firstIteration {
  position: absolute;
  bottom: -8px;
  left: -8px;
  color: $pomodoroColor;
}

.lastIteration {
  position: absolute;
  bottom: -14px;
  right: -15px;
  color: $pomodoroColor;
  font-size: 1.5rem;
}

